.page-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1em;
}

.page-btn {
    cursor: pointer;
    border: none;
    transition: var(--tran-primary);
}

.page-btn:hover, .page-btn:focus {
    color: var(--submit);
    transition: var(--tran-primary);
}

