.route-mapper {
    margin-top: 5em;
    margin-left: 8em;
}

.routes {
    padding-top: 2vh;
    margin-left: 2vw;
    font-size: 1.2em;
    font-weight: 300;
    display: flex;
}

.arrow {
    margin-top: -.1em;
    font-size: 1.5em;
}