.route-mapper {
    margin-top: 5em;
    margin-left: 8em;
}

.routes {
    padding-top: 2vh;
    margin-left: 2vw;
    font-size: 1.2em;
    font-weight: 300;
    display: flex;
}

.route-item {
    font-size: 1em;
    position: relative;
    display: flex;
}

.route-link {
    border: none;
    text-decoration: none;
    background: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    line-height: 0em;
    transition: var(--tran-secondary);
}

.arrow {
    margin-top: -.3em;
    font-size: 2em;
}