.sidebar-container {
    position: fixed;
    background-color: var(--bg-teritary);
    transition: var(--tran-primary);
    overflow: hidden;
    top: 0;
    width: 8em;
    height: 100vh;
    border-right: .2em solid var(--bg-secondary);
    z-index: 2;
}

.sidebar {
    position: relative;
    top: 3em;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.side__item {
    display: flex;
    align-items: self-start;
    height: 5rem;
    text-decoration: none;
    transition: var(--tran-primary);
}

.link {
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--tran-primary);
}

.selected, .selected > .side__icon {
    transition: var(--tran-primary);
    transform: scale(1.3);
    color: var(--text-teritary);
}

.logo {
    text-align: center;
    margin-top: 4vh;
    font-weight: 900;
    font-size: 1.5em;
}

.side__icon {
    margin-right: .4em;
    font-size: 1.5em;
}