.login-container {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background-size: cover;
}

.login-container::before {
    content: '';
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #86858580;
    background-image: url('/images/books.jpg');
    filter: grayscale(.65);
    position: absolute;
    z-index: 1;
    top: 0;
}

.login-form-container{
    width: 28em;
    height: calc(100% - 3em);
    min-height: calc(100% - 3em);
    overflow-y: auto;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3em 3em 0 3em;
    position: relative;
    background-color: var(--bg-teritary);
}

.form {
    display: flex;
    flex-direction: column;
}

.login-input {
    background: var(--bg-secondary);
    border: var(--bg-primary);
    border-radius: .2em;
    overflow: hidden;
    margin: 1em 0;
    width: 100%;
    line-height: 2;
    padding: 0.25rem 0;
    font-size: 1.2em;
    font-weight: bold;
    transition: var(--tran-secondary);
}

.field {
    width: 100%;
    position: relative;
    transition: var(--tran-secondary);
}

.field::after {
    content: "";
    position: relative;
    display: block;
    height: .4em;
    width: 100%;
    background: var(--submit);
    transform: scaleX(0);
    transform-origin: 0%;
    opacity: 0;
    transition: var(--tran-primary);
    top: -.8em;
}

.field:focus-within {
    border-color: transparent;
}

.field:focus-within::after {
    transform: scaleX(1);
    opacity: 1;
}

.label {
    display: block;
    color:var(--text-primary);
    font-size: 1.2rem;
    position: absolute;
    transform: translateY(-3em);
    transform-origin: 0%;
    transition: var(--tran-secondary);
}

.field:focus-within .label,
.login-input:not(:placeholder-shown) + .label {
    transform: scale(0.8) translateY(-7rem);
    opacity: 1;
}

.toggle-password {
    position: absolute;
    cursor: help;
    font-size: 0.8em;
    right: 0.5em;
    bottom: 3em;
}

.btn-lg {
    color: var(--bg-teritary);
    background-color: var(--submit);
    border: none;
    appearance: none;
    text-align: center;
    margin: 2em;
    font-weight: 500;
    padding: .8em;
    border-radius: .2em;
    cursor: pointer;
    transition: var(--tran-primary);
}

.btn-lg:hover {
    background-color: #0533ca;
    transform: scale(1.05);
    transition: var(--tran-primary);
}