:root {
    --text-primary: #0c0c0c;
    --text-secondary: #919191;
    --text-teritary: #5b94fd;
    --bg-primary: #dddddd;
    --bg-secondary: #eeeeee;
    --bg-teritary: #f5f5f5;
    --success: #18b612e0;
    --danger: #eb2525;
    --submit: #0f3fdd;
    --tran-primary: 300ms ease all;
    --tran-secondary: 600ms ease all;
}

html {
    margin: 0;
    padding: 0;
    background: var(--bg-secondary);
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-wrapper {
    margin-left: 0;
    transition: var(--tran-primary);
}

.section-wrapper {
    position: relative;
    margin-left: 8em;
    width: 85vw;
}

.expanded {
    margin-left: -8em;
    transition: var(--tran-primary);
}

.side-expanded {
    width: 100vw;
}

.container {
    margin: 0 2vw;
    width: 93%;
    background: var(--bg-teritary);
    transition: var(--tran-primary);
}

.title {
    font-size: 2em;
}

.center {
    text-align: center;
    justify-content: center;
}